.container{font-family: 'Dancing Script', cursive;}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: white

}
.banner{
    height: 50px;
    background-color: rgb(35, 30, 30);
    color: white;
    background-size: cover;
    background-position: center center ;

}
body{
    background-color: beige;
    color: rgb(35, 30, 30);

}

li{
    list-style: none;
}
li img{
    height: 1.5rem;
}

